/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*CSS reset above*/

html {
    background-color:#000000;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color:#ffffff;
}

header {
    background-color: #ffffff;
}

header h1 {
    color:#007d7b;
    font-size:3em;
}

h2 {
    font-size: 2em;
}

nav {
    background-color: #000000;
    color:#ffffff;
}

nav a {
    font-size: 1.5em;
}

p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}


address {
    background-color:#000000;
    color:#ffffff;
}

footer {
    background-color:#000000;
    color:#ffffff;
}

@media screen and (max-width:834px) {

html {
    width:485px;
    margin:auto;
}

header h1 {
    margin-left:70px;
    padding-bottom: 15px;
}

nav h2 {
    visibility: hidden;
}

li:last-child {
    position:fixed;
    bottom:0;
    right:0;

}

nav ul {
    display:flex;
    justify-content: center;
    margin-bottom: 25px;
}

nav a {
    text-decoration: none;
    color:#ffffff;
    padding: 25px;
}

#about h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 5px;
}

#about p:first-of-type {
    padding: 5px;
    padding-bottom:20px;
}

#about p:nth-of-type(2) {
    padding: 5px;
    padding-bottom: 25px;
}

#gallery h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 20px;
}

#gallery p {
    padding: 5px;
    padding-top: 20px;
}

#photogallery h2 {
    position:absolute;
    visibility: hidden;
}

#photogallery img {
    display:grid;
    padding-left: 32px;
    padding-bottom:25px;
}

/*Photo Positioning*/

#photogallery figcaption {
    position:absolute;
}

figure:nth-of-type(1) figcaption {
    color:#ffffff;
    top:102%;
    left: 45%;
}

figure:nth-of-type(2) figcaption {
    color:#ffffff;
    top:110%;
    left: 42%;
}

figure:nth-of-type(3) figcaption {
    color:#ffffff;
    top:188%;
    left: 44%;
}

figure:nth-of-type(4) figcaption {
    color:#000000;
    top:198%;
    left: 44%;
}

figure:nth-of-type(5) figcaption {
    color:#000000;
    top:290%;
    left: 43%;
}

figure:nth-of-type(6) figcaption {
    color:#000000;
    top:465%;
    left: 44%;
}

figure:nth-of-type(7) figcaption {
    color:#ffffff;
    top:508%;
    left: 41%;
}

figure:nth-of-type(8) figcaption {
    color:#000000;
    top:518%;
    left: 38%;
}

figure:nth-of-type(9) figcaption {
    color:#000000;
    top:561%;
    left: 42%;
}

figure:nth-of-type(10) figcaption {
    color:#000000;
    top:604%;
    left: 45%;
}

figure:nth-of-type(11) figcaption {
    color:#000000;
    top:647%;
    left: 45%;
}

figure:nth-of-type(11) figcaption {
    color:#ffffff;
    top:690%;
    left: 45%;
}

/*Photogallery ends*/
address h2 {
    display:flex;
    justify-content: center;
    padding: 20px;
}

address p {
    display:flex;
    justify-content: center;
}

#container{
    display:flex;
    justify-content: center;
    align-content: center;
}

form {
    padding-bottom:50px;
    margin-left:10px;
}

form h2 {
    visibility: hidden;
}

form input {
    color:#007d7b;
    padding-left:100px;
    padding-right:100px;
}

form input:nth-of-type(3){
    margin-bottom:15px;
}

#button {
    display:block;
    background-color: #007d7b;
    color:#ffffff;
    text-decoration: none;
    border-radius:20px;
    margin-left:65px;
}

footer {
    display:flex;
    justify-content: center;
}
}

@media screen and (min-width:1200px){
    html {
        width:1300px;
        margin:auto;
    }

    header h1 {
        display:flex;
        justify-content: left;
        margin:10px;
    }
    
    nav h2 {
        visibility: hidden;
    }

    li:last-child {
        position:fixed;
        bottom:0;
        right:0;
    
    }
    
    nav ul {
        display:flex;
        justify-content:right;
        margin-bottom: 25px;
    }
    
    nav a {
        text-decoration: none;
        color:#ffffff;
        padding: 25px;
    }

    #about h2 {
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding: 5px;
    }
    
    #about p:first-of-type {
        padding: 5px;
        padding-bottom:20px;
    }
    
    #about p:nth-of-type(2) {
        padding: 5px;
        padding-bottom: 25px;
    }
    
    #gallery h2 {
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding: 5px;
        padding-bottom: 20px;
    }
    
    #gallery p {
        padding: 5px;
        padding-top: 20px;
    }
    
    #photogallery h2 {
        position:absolute;
        visibility: hidden;
    }

    #photogallery {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #photogallery img {
        margin:5px;
    }

    /*photogallery positioning start*/
    #photogallery figcaption {
        position:absolute;
    }
    figure:nth-of-type(1) figcaption {
        color:#ffffff;
        left:19%;
        top:77%;

    }
    
    figure:nth-of-type(2) figcaption {
        color:#ffffff;
        left:46%;
        top:49%;

    }
    
    figure:nth-of-type(3) figcaption {
        color:#ffffff;
        left:76%;
        top:77%;

    }
    
    figure:nth-of-type(4) figcaption {
        color:#000000;

    }
    
    figure:nth-of-type(5) figcaption {
        color:#000000;

    }
    
    figure:nth-of-type(6) figcaption {
        color:#000000;

    }
    
    figure:nth-of-type(7) figcaption {
        color:#ffffff;

    }
    
    figure:nth-of-type(8) figcaption {
        color:#000000;

    }
    
    figure:nth-of-type(9) figcaption {
        color:#000000;

    }
    
    figure:nth-of-type(10) figcaption {
        color:#000000;
    }
    
    figure:nth-of-type(11) figcaption {
        color:#000000;

    }
    
    figure:nth-of-type(11) figcaption {
        color:#ffffff;

    }
}